.App {
  text-align: left;
  height: 40px;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.search{
  margin-left: auto;
  margin-top: -21px;
  cursor: pointer;
}
.capture{
  margin-top: 200px;
  /* margin-bottom: 200px; */
  /* color: #61dafb; */
  height: 30px;
  background-color: aquamarine;
  /* border-radius: 8px; */
  padding: 4px;
}
.dots{
  margin-top: -30px;
  margin-left: 335px;
  cursor: pointer;
}
.camera{
  margin-left: 270px;
  margin-top: -30px;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
